body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    }
    
    #icon{
        display:flex;
        font-size: 36px;
        font-weight: bold;
        align-items: center;
        padding-bottom: 4px;;
    }
    
    button{
        margin-left: 12px;
    }
    
    .input {
        margin-bottom: 4px;
    }
    
    .default-buttons {
        margin:0px;
    }